# API Connection
# Đường dẫn đến Backend API
NEXT_PUBLIC_API_URL=http://localhost:3001/api

# App URL
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Other settings
NEXT_PUBLIC_SITE_NAME="Apple Store Vietnam"
