# Server Configuration
PORT=3001
NODE_ENV=production

# Database Configuration
DATABASE_URL=postgresql://postgres:postgres123@postgres:5432/apple_store

# Authentication
JWT_SECRET=zaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
JWT_EXPIRES_IN=7d


# URL Configuration
FRONTEND_URL=https://demo.docimal.site
BACKEND_URL=https://demo.docimal.site/api

VIETQR_BANK_CODE=VCB
VIETQR_ACCOUNT_NUMBER=1029990197

# Payment Redirect URLs 
PAYMENT_RETURN_URL=https://demo.docimal.site/order-success
PAYMENT_CANCEL_URL=https://demo.docimal.site/order-failed
